<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Редактирование события</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
  </head>
  <body>
    <div class="container mt-4">
      <h2>Редактирование события</h2>
      <form
        th:action="@{/events/edit/{id}(id=${event.id})}"
        th:object="${event}"
        method="post"
      >
        <div class="form-group">
          <label for="title">Название</label>
          <input
            type="text"
            class="form-control"
            id="title"
            th:field="*{title}"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <textarea
            class="form-control"
            id="description"
            th:field="*{description}"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="time">Время</label>
          <input
            type="time"
            class="form-control"
            id="time"
            th:field="*{time}"
            required
          />
        </div>
        <div class="form-group">
          <label for="day">День недели</label>
          <input
            type="text"
            class="form-control"
            id="day"
            th:field="*{day}"
            required
          />
        </div>
        <div class="form-group">
          <label for="trainer">Тренер</label>
          <select
            class="form-control"
            id="trainer"
            th:field="*{trainer}"
            required
          >
            <option
              th:each="trainer : ${trainers}"
              th:value="${trainer.id}"
              th:text="${trainer.firstName + ' ' + trainer.lastName}"
            ></option>
          </select>
        </div>
        <div class="form-group">
          <label for="maxClients">Максимальное количество участников</label>
          <input
            type="number"
            class="form-control"
            id="maxClients"
            th:field="*{maxClients}"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">
          Сохранить изменения
        </button>
        <a th:href="@{/events/}" class="btn btn-secondary">Отмена</a>
      </form>
    </div>
  </body>
</html>
